/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.wrapper {
  @apply max-w-6xl mx-auto;
}

button:disabled,
[disabled] {
  cursor: default;
}

/*
 * Default content
 */
.content {
  @apply text-gray-800;
}

.content > * {
  @apply mb-4;
}

.content h1 {
  @apply text-3xl font-semibold mb-10 mt-16;
  @apply border-b-4 border-brand-300;
}

.content h2 {
  @apply text-2xl font-semibold mb-8 mt-12;
  @apply border-b-2 border-brand-300;
}

.content h3 {
  @apply text-xl font-semibold mb-6 mt-10;
}

.content h4 {
  @apply text-lg font-semibold mb-4 mt-8;
}

.content ul {
  @apply ml-8 list-disc;
}

.content ol {
  @apply ml-8 list-decimal;
}

.content li p {
  @apply mb-2;
}

.content a {
  @apply underline text-blue-600;
}

.content a:hover {
  @apply text-green-700;
}

.content code {
  @apply inline-block bg-gray-300 text-gray-600 text-sm leading-normal rounded px-1;
}

.content blockquote {
  @apply border-l-2 border-gray-400 italic text-gray-600 pl-4;
}

/*
 * Transitions
 */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.drop-enter-active,
.drop-leave-active {
  transition: transform 0.3s;
}
.drop-enter,
.drop-leave-to {
  transform: translateY(-1rem);
}
